---
layout: default
title: 研发实践-编程语言、经验分享
---
<div id="content">
    {% for post in site.categories.code limit:site.meta.default_limit %}
    <div class="post-{{ post.data-thread-key }} post type-post status-publish format-standard hentry category-1 post" id="post-1968">
        <div class="posttop">
            <h2 class="posttitle">
                <a href="{{site.baseurl}}{{ post.url }}" rel="bookmark" title="{{ post.title }} {{ post.date | date_to_string }}">{{ post.title }}</a>
            </h2>
            <div class="postmetatop">
                Posted <time class="text" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>&nbsp;|&nbsp;
                {% if post.author != null %}
                By {{ post.author }}
                {% else %}
                By <span class='text'>熊猫人</span>
                {% endif %}
                &nbsp;|&nbsp;
                {% if post.tags %}
                标签:
                {% for tag in post.tags limit:5 %}
                <a href="{{ site.baseurl }}/tags/#{{tag}}" class="text" title="{{ tag }}" rel="category tag">{{ tag }}</a>&nbsp;
                {% endfor %}
                {% endif %}

            </div>
            <!-- /postmetatop -->
        </div><!-- /posttop -->

        <div class="postcontent">
            {% if post.description %}                                                    
            <p>
            {% if post.show_img %}
                <a href="{{post.url}}" title="{{post.title}}">
                    <img src="{{post.show_img}}" alt="{{post.title}}"  width="240px" height="140px" class="img-right"></img></a>
           {% endif %}
            {{ post.description }}</p>
            {% else %}
            <p>
            {% if post.show_img %}
           <a href="{{post.url}}" title="{{post.title}}">
               <img src="{{post.show_img}}" alt="{{post.title}}"  width="240px" height="140px" class="img-right"></img></a>
           {% endif %}
            {{ post.content | strip_html | truncatewords: 2 }}</p>
            {% endif %}
            <p> <a href="{{ site.baseurl}}{{ post.url }}/#more-{{ post.data-thread-key }}" class="more-link">Read More &raquo;</a></p> 
            <div class="cleared"></div>

        </div><!-- /postcontent -->

        <div class="postmetabottom">
            <div class="tags"></div>
            <div class="metacomments"><span><a href="{{site.baseurl}}{{ post.url }}/#comments" title="<< {{ post.title }}>>上的评论"><span class="ds-thread-count" data-thread-key="{{ post.UUID }}" data-replace="1"> Comments</span></a></span></div>
            <div class="cleared"></div>

        </div><!-- /postmetabottom -->
    </div><!-- /post -->
    {% endfor %}
</div><!-- /content -->
{% include aside.html %}



