<div class="row">
    <div class="span3 features">
        <i class="icon-circled icon-32 icon-suitcase left active"></i>
        <h4>Responsive bootstrap</h4>

        <div class="dotted_line">
        </div>
        <p class="left">
            Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium
            imperdiet in pri mel virtute nam.
        </p>
        <a href="#">Learn more</a>
    </div>
    <div class="span3 features">
        <i class="icon-circled icon-32 icon-plane left"></i>
        <h4>Lot of features</h4>

        <div class="dotted_line">
        </div>
        <p class="left">
            Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium
            imperdiet in pri mel virtute nam.
        </p>
        <a href="#">Learn more</a>
    </div>
    <div class="span3 features">
        <i class="icon-circled icon-32 icon-leaf left"></i>
        <h4>Multipurpose template</h4>

        <div class="dotted_line">
        </div>
        <p class="left">
            Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium
            imperdiet in pri mel virtute nam.
        </p>
        <a href="#">Learn more</a>
    </div>
    <div class="span3 features">
        <i class="icon-circled icon-32 icon-wrench left"></i>
        <h4>With latest technology</h4>

        <div class="dotted_line">
        </div>
        <p class="left">
            Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium
            imperdiet in pri mel virtute nam.
        </p>
        <a href="#">Learn more</a>
    </div>
</div>