<footer class="footer">
    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <p>
                        &copy; demi-panda 2013 - All right reserved
                    </p>
                </div>
                <div class="span6">
                    <p class="pull-right">
                        Designed by <a href="http://demi-panda.com">熊猫家族</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>