<footer>
<div id="footer">                                          
  <p class="t-center" style='font-size: 10pt;'>
  &copy; 2012 <a href="{{ site.baseurl }}/">Demi Panda Lab</a>, All Rights Reserved.

  <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9ed8ee65a576b9495a4d989eabbd4c09' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script src="http://s14.cnzz.com/stat.php?id=4734788&web_id=4734788&show=pic" language="JavaScript"></script>
  </p>
  </div> 
</footer>

