<!-- Header --> 
<div id="header">  
  <!-- 
  <h1 id="logo"><a href="{{ site.baseurl }}" title="[Go to homepage]"><img src="{{ site.baseurl }}/media/rayskin/img/raybbo-logo.png" alt="" /></a></h1> 
  --> 
  <h1 id="logo"><a href="{{ site.baseurl }}" title="{{ site.meta.site_title }}" alt="{{ site.meta.site_title }}">{{ site.meta.site_title }}</a></h1> 
  <hr class="noscreen" /> 
  <!-- Navigation
  <div id="nav">
    <a id="nav-active" href="/">Home</a> <span>|</span>
    <a  href="{{ site.baseurl }}/blog/">Blog</a> <span>|</span>
    <a  href="{{ site.baseurl }}/about/">About</a> <span>|</span>
    <a  href="{{ site.baseurl }}/support/">Support</a> <span>|</span>
    <a  href="{{ site.baseurl }}/contact/">Contact</a>
  </div>
  -->
  <!-- /nav -->
</div>
<!-- /header -->

