<section id="intro">
    <div class="jumbotron masthead">
        <div class="container">
            <!-- slider navigation -->
            <div class="sequence-nav">
                <div class="prev">
                    <span></span>
                </div>
                <div class="next">
                    <span></span>
                </div>
            </div>
            <!-- end slider navigation -->
            <div class="row">
                <div class="span12">
                    <div id="slider_holder">
                        <div id="sequence">
                            <ul>
                                {% for post in site.categories.topic limit:5 %}
                                <!-- Layer 1 -->
                                <li>
                                    <div class="info animate-in">
                                        <h2>研发实践</h2>
                                        <br>
                                        <h3>{{post.title}}</h3>
                                        <p>
                                            {% if post.description %}
                                            {{ post.description }}
                                            {% else %}
                                            {{ post.content | strip_html | truncatewords: 3 }}
                                            {% endif %}
                                        </p>
                                        <a class="btn btn-success" href="{{ site.url}}{{post.url}}">Learn more &raquo;</a>
                                    </div>
                                    <img class="slider_img animate-in" src="{{site.static_url}}{{post.show_img}}" alt="{{post.title}}" />
                                </li>
                                {% endfor %}
                                <!-- Layer 2
                                <li>
                                    <div class="info">
                                        <h2>Smart and fresh</h2>
                                        <br>
                                        <h3>Rich of features</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, munere commodo ut nam, quod volutpat in per. At nec case iriure, consul recteque nec et.
                                        </p>
                                        <a class="btn btn-success" href="#">Learn more &raquo;</a>
                                    </div>
                                    <img class="slider_img" src="{{site.static_url}}/assets/img/slides/sequence/img-2.png" alt="" />
                                </li>
                                <li>
                                    <div class="info">
                                        <h2>Far from ugly</h2>
                                        <br>
                                        <h3>Latest technology</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, munere commodo ut nam, quod volutpat in per. At nec case iriure, consul recteque nec et.
                                        </p>
                                        <a class="btn btn-success" href="#">Learn more &raquo;</a>
                                    </div>
                                    <img class="slider_img" src="{{site.static_url}}/assets/img/slides/sequence/img-3.png" alt="" />
                                </li>
                                 -->
                            </ul>
                        </div>
                    </div>
                    <!-- Sequence Slider::END-->
                </div>
            </div>
        </div>
    </div>
</section>