
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="tagline centered">
                    <div class="row">
                        <div class="span12">
                            <div class="tagline_text">
                                <h2>Don't miss this special offer for limited time only!</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, vix ceteros noluisse intellegat ne, ex nec insolens liberavisse, no adhuc causae nominati duo.
                                </p>
                            </div>
                            <div class="btn-toolbar cta">
                                <a class="btn btn-large btn-color" href="#">
                                    <i class="icon-plane icon-white"></i> Try free version </a>
                                <a class="btn btn-large btn-inverse" href="#">
                                    <i class="icon-shopping-cart icon-white"></i> Buy license </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tagline -->
            </div>
        </div>
        <div class="row">
            <div class="home-posts">
                <div class="span12">
                    <h3>Recent blog posts</h3>
                </div>
                <div class="span3">
                    <div class="post-image">
                        <a href="single-post.html">
                            <img src="{{site.static_url}}/assets/img/dummies/blog1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="entry-meta">
                        <a href="#"><i class="icon-square icon-48 icon-pencil left"></i></a>
					<span class="date">Sep 17 <br />
					2013</span>
                    </div>
                    <!-- end .entry-meta -->
                    <div class="entry-body">
                        <a href="single-post.html">
                            <h5 class="title">This is a standard post</h5>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa.
                        </p>
                    </div>
                    <!-- end .entry-body -->
                    <div class="clear">
                    </div>
                </div>
                <div class="span3">
                    <div class="post-image">
                        <a href="#">
                            <img src="{{site.static_url}}/assets/img/dummies/blog2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="entry-meta">
                        <a href="#"><i class="icon-square icon-48 icon-pencil left"></i></a>
                        <span class="date">Sep 17 2013</span>
                    </div>
                    <!-- end .entry-meta -->
                    <div class="entry-body">
                        <a href="single-post.html">
                            <h5 class="title">Example post image format</h5>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa.
                        </p>
                    </div>
                    <!-- end .entry-body -->
                    <div class="clear">
                    </div>
                </div>
                <div class="span3">
                    <div class="video-container">
                        <iframe src="http://player.vimeo.com/video/30585464?title=0&amp;byline=0">
                        </iframe>
                    </div>
                    <div class="entry-meta">
                        <a href="#"><i class="icon-square icon-48 icon-facetime-video left"></i></a>
                        <span class="date">Sep 17 2011</span>
                    </div>
                    <!-- end .entry-meta -->
                    <div class="entry-body">
                        <a href="single-post.html">
                            <h5 class="title">Amazing video post format</h5>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.
                        </p>
                    </div>
                    <!-- end .entry-body -->
                    <div class="clear">
                    </div>
                </div>
                <div class="span3">
                    <div class="post-slider">
                        <!-- start flexslider -->
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <a href="singlepost.html"><img src="{{site.static_url}}/assets/img/dummies/work1.jpg" alt="" /></a>
                                </li>
                                <li>
                                    <a href="singlepost.html"><img src="{{site.static_url}}/assets/img/dummies/work2.jpg" alt="" /></a>
                                </li>
                                <li>
                                    <a href="singlepost.html"><img src="{{site.static_url}}/assets/img/dummies/work3.jpg" alt="" /></a>
                                </li>
                            </ul>
                        </div>
                        <!-- end flexslider -->
                    </div>
                    <div class="entry-meta">
                        <a href="#"><i class="icon-square icon-48 icon-picture left"></i></a>
                        <span class="date">Sep 17 2011</span>
                    </div>
                    <!-- end .entry-meta -->
                    <div class="entry-body">
                        <a href="single-post.html">
                            <h5 class="title">Slider post format with flexslider</h5>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.
                        </p>
                    </div>
                    <!-- end .entry-body -->
                </div>
            </div>
        </div>
    </div>
</section>