<div class="row">
    <div class="span4">
        <div class="post-slider">
            <div class="post-heading">
                <h3><a href="#">This is an example of slider post format</a></h3>
            </div>
            <!-- start flexslider -->
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <a href="singlepost.html"><img src="{{site.static_url}}/assets/img/dummies/work1.jpg" alt="" /></a>
                    </li>
                    <li>
                        <a href="singlepost.html"><img src="{{site.static_url}}/assets/img/dummies/work2.jpg" alt="" /></a>
                    </li>
                    <li>
                        <a href="singlepost.html"><img src="{{site.static_url}}/assets/img/dummies/work3.jpg" alt="" /></a>
                    </li>
                </ul>
            </div>
            <!-- end flexslider -->
        </div>
    </div>
</div>