<!-- Tray -->
<div id="tray">
    <ul>
        <li ><a href="/index.html">Home</a></li>
        <li ><a href="/archives/">文章列表</a></li>
        <li ><a href="/life/">微生活</a></li>
        <li ><a href="/practice/">研发实践</a></li>
        <li ><a href="/itnews/">IT资讯</a></li>
        <li ><a href="/tags/">标签</a></li>
        <li ><a href="/about/">关于我</a></li>
        <!--
        <li ><a href="/categories/">分类目录</a></li>
        <li ><a href="/index-new.html">NEW</a></li>
        -->
    </ul>
    <hr class="noscreen" />                    
</div> 
<!-- /tray -->

