<!-- News -->
<div id="col-left">

  <div class="title">
    <span class="f-right"><a href="{{ site.baseurl }}/news/rss/" class="ico-rss">RSS feed</a></span>
    <h4>News</h4>
  </div> <!-- /title -->

  <!-- include new blogs-->
  <ul class="ul-list nomb">


    <li><span class="date">[ May 21, 2011 ]</span> <a href="{{ site.baseurl }}/news/12/" class="article">Elevation Chart v1.7 Released!</a></li>

    <li><span class="date">[ Dec. 31, 2010 ]</span> <a href="{{ site.baseurl }}/news/11/" class="article">Elevation Chart Has Been Featured in What&#39;s Hot!</a></li>

    <li><span class="date">[ Dec. 18, 2010 ]</span> <a href="{{ site.baseurl }}/news/9/" class="article">Elevation Chart v1.5 Released!</a></li>

    <li><span class="date">[ Dec. 6, 2010 ]</span> <a href="{{ site.baseurl }}/news/8/" class="article">Elevation Chart Has Been Featured!</a></li>

    <li><span class="date">[ Dec. 4, 2010 ]</span> <a href="{{ site.baseurl }}/news/7/" class="article">Elevation Chart v1.0 Released!</a></li>

  </ul>

</div>
