<!-- News -->
<div id="col-left">
  <div class="title">
    <span class="f-right"><a href="{{ site.baseurl }}/rss.xml" class="ico-rss">RSS feed</a></span>
    <h4>News</h4>
  </div> <!-- /title -->

  <!-- include new blogs-->
  <ul class="ul-list nomb">
    {% for post in site.posts limit:10 %} 
    <li><span class="date">
      [ <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time> ]</span> 
    <a href="{{ site.baseurl }}{{post.url}}" class="article" title="{{ post.title }}">{{ post.title}}</a></li>
    {% endfor %}
  </ul>

</div>
