<div id="col-right">

  <h4><span>Testimonials</span></h4>

  <div class="box">

    <div class="col-right-img"><img src="{{ site.baseurl }}/media/rayskin/tmp/65x65.gif" width="65" height="65" alt="" /></div>
    <div class="col-right-text">

      <p><strong>Love this app</strong>. My father cannot stay to high in elevation and we are getting ready to move. This let's us know if the area we are looking is low enough for him.</p>
      <p class="high smaller">&ndash; <cite>Red Kirk</cite></p>

    </div> <!-- /col-right-text -->


  </div> <!-- /box -->

</div> <!-- /col-right -->
