<div id="col-right">

  <h4><span>Testimonials</span></h4>

  <div class="box">

    <div class="col-right-img"><img src="{{ site.baseurl }}/media/pub/demi.jpg" width="65" height="65" alt="" /></div>
    <div class="col-right-text">
      <p>打破事物或思想的原有秩序,是创造力的基本程序.</p>
      <p>
      <strong>敢想、</strong>
      </p>
      <p>
      <strong>敢拼、</strong>
      </p>
      <p>
      <strong>敢赢、</strong>
      </p>
      <p class="high smaller">&ndash; <cite>Demi-Panda</cite></p>

    </div> <!-- /col-right-text -->


  </div> <!-- /box -->

</div> <!-- /col-right -->
