<!-- scroll -->
<ul class="scroll">
    <li class="sct">
    <a href="#">&nbsp;&nbsp;&nbsp;</a>
    <div><a class="scroll_t" title="返回顶部">返回顶部</a></div>
    </li>
    <li class="scc">
    <a href="#">&nbsp;&nbsp;&nbsp;</a>
    <div><a class="scroll_c" title="查看留言">查看留言</a></div>
    </li>
    <li class="scb">
    <a href="#">&nbsp;&nbsp;&nbsp;</a>
    <div><a class="scroll_b" title="转到底部">转到底部</a></div>
    </li>
</ul>
<script type="text/javascript">
    function doZoom(size) {
        var zoom = document.all ? document.all['entry'] : document.getElementById('entry');
        zoom.style.fontSize = size + 'px';
    }
</script>

