<!-- Promo --> 
<nav>
<div id="col-top"></div>
<div id="col" class="box">  
  <div id="slider">
    <ul>
      <li>
      <div class="slide-info">                                                                                                 
        <h2>Hello Word</h2>
        <p>
        2012年的第一场雪，比往年来的要早些，大自然似乎</br>还没有准备好，
        秋天的颜色还没有完全褪去，</br>树叶还没有完全变黄、...
        </p>
        <a href="{{ site.baseurl }}/archive/" class="button-more">More</a> </div>
      <div class="slide-image"> <img src="{{ site.baseurl }}/media/pub/2012-11-04.jpg" alt="" /> </div>
      </li>
      <li>
      <div class="slide-info">
        <h2>AvatarMate</h2>
        <p>A cool tool to help you cartoonify your profile picture of Facebook, and photos in iPhone album.</p>
        <a href="{{ site.baseurl }}/avatarmate/" class="button-more">More</a> </div>
      <div class="slide-image"> <img src="{{ site.baseurl }}/media/pub/si-ec.png" alt="" /> </div>
      </li>
      <li>
      <div class="slide-info">
        <h2>Text On Card</h2>
        <p>Hate typing contact information from business cards manually on iPhone? Text On Card is a scanning utility for business card.</p>
        <a href="{{ site.baseurl }}/toc/" class="button-more">More</a> </div>
      <div class="slide-image"> <img src="{{ site.baseurl }}/media/pub/si-toc.png" alt="" /> </div>
      </li>
    </ul>

  </div>
  <div class="slider-nav"> <a href="#" class="prev">Previous</a> <a href="#" class="next">Next</a> </div>
</div>
</nav>
