<!-- Promo --> 
<div id="col-top"></div>
<div id="col" class="box">  
  <div id="slider">
    <ul>
      <li>
      <div class="slide-info">                                                                                                 
        <h2>2012年的第一场雪</h2>
        <p>
        今天,2012年北京的第一场雪来的比往年早,40小时雨雪降水超历史,也在今天俺开始科目二实车训练啦，心情比较激动，不惧怕风雨雪。
        </p>
        <a href="{{ site.baseurl }}/2012/11/04/first-post" width="344px" height="213px" class="button-more">More</a> </div>
      <div class="slide-image"> <img src="/media/pub/life/pub/2012-11-04.jpg" alt="" /> </div>
      </li>
      <li>
      <div class="slide-info">
        <h2>生活Style</h2>
        <p>麻雀低飞百座村乡，只为了觅得更好的食物，生存的信念，足以让其放弃高傲的力量；雁掠千里云层，只为了回归温暖的巢窝，活着的意念，足以让其忍受风雨穿梭的苦涩；人行万里旅程，只为了追求心中的梦想，坚守的意志，足以让其忘却漂泊流浪的无奈与痛。</p>
        <a href="{{ site.baseurl }}/2012/11/13/life-hope/" class="button-more">More</a> </div>
      <div class="slide-image"> <img src="/media/pub/life/pub/life-style.jpg" width="344px" height="213px" alt="" /> </div>
      </li>
      <li>
      <div class="slide-info">
        <h2>岳阳楼</h2>
        <p>江南三大名楼之一，北视长江、南望三湘，范仲淹那篇名满天下的《岳阳楼记》着实为岳阳楼做足了广告。</p>
        <a href="{{ site.baseurl }}/2012/11/26/yueyangloug" class="button-more">More</a> </div>
      <div class="slide-image"> <img src="/media/pub/life/yueyanglou/yueyanglou-min.jpg" alt="" width="344px" height="213px"/> </div>
      </li>
      <li>
      <div class="slide-info">
        <h2>舜皇岩</h2>
        <p>舜皇岩相传是舜皇的地下别宫，人称神秘之境。它位于东安县舜皇山东麓，大庙口八旗田洞中的一座独立的大石山内，相传舜帝晚年南巡至东安，见该地重变叠嶂，青秀挺拔，流水明净，田园如画，被吸引进山巡视和狩猎，便在此最高的山峰定居下来。</p>
        <a href="{{ site.baseurl }}/2012/11/26/dongan-shunhuangyan/" class="button-more">More</a> </div>
      <div class="slide-image"> <img src="/media/pub/life/dongan/shunhuangyan-min.jpg" alt="舜皇岩" width="344px" height="213px"/> </div>
      </li>
      <li>
      <div class="slide-info">
        <h2>泰山旅游</h2>
        <p>风光旖旎，底蕴媲美于有昊之顶；日露半脸，玄机堪称在九霄之外。</p>
        <a href="{{ site.baseurl }}/2012/05/06/taishan/" class="button-more">More</a> </div>
      <div class="slide-image"> <img src="/media/pub/life/taishan/taishan-min.jpg" alt="泰山" width=""/> </div>
      </li>
    </ul>
  </div>
  <div class="slider-nav"> <a href="#" class="prev">Previous</a> <a href="#" class="next">Next</a> </div>
</div>
<div id="col-bottom"></div>
