<!-- Promo --> 
<div id="col-top"></div>
<div id="col" class="box">  
    <div id="slider">
        <ul>
            {% for post in site.categories.topic limit:5 %}
            <li>
            <div class="slide-info">
                <h2>{{post.title}}</h2>
                <p>
                {% if post.description %}
                {{ post.description }} 
                {% else %}
                {{ post.content | strip_html | truncatewords: 2 }}
                {% endif %}
                </p>
                <a href="{{ site.url}}{{post.url}}" width="344px" height="213px" class="button-more">More</a> </div>
            <div class="slide-image"> 
                <a href="{{ site.url}}{{post.url}}" alt="{{post.title}}">
                    <img src="{{post.show_img}}" alt="{{post.title}}" width="344px" height="213px" /></a>
            </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="slider-nav"> <a href="#" class="prev">Previous</a> <a href="#" class="next">Next</a> </div>
</div>
<div id="col-bottom"></div>
