<!-- Tray -->
<div id="tray">
  <ul>
    <li ><a href="{{ site.baseurl }}">Home</a></li>
    <li ><a href="{{ site.baseurl }}/archives/">ARTICLE</a></li>
    <li ><a href="{{ site.baseurl }}/categories/">CATEGORY</a></li>
    <li ><a href="{{ site.baseurl }}/tags/">TAGS</a></li>
    <li ><a href="{{ site.baseurl }}/news/">NEWS</a></li>
    <li ><a href="{{ site.baseurl }}/about/">ABOUT ME</a></li>
    <li ><a href="{{ site.baseurl }}/feed/">RSS FEED</a></li>
     </ul>
  <!-- 
  <div id="buynow" class="box"><a href="{{ site.baseurl }}/buy/"><img src="{{ site.baseurl }}/media/rayskin/img/btn-buy.png" /></a></div>
  -->
  <hr class="noscreen" />
</div> 
<!-- /tray -->

