---
title: About me
layout: default
comment: true
published: true
UUID: 201211131101
date: 2012-11-13
---

<div id="content">
  <div class="post-1968 post type-post status-publish format-standard hentry category-1 post" id="post-1968">
    <div class="posttop">
      <h2 class="posttitle">
        <a href="{{site.baseurl}}{{ page.url }}" rel="bookmark" title="{{ page.title }} ">{{ page.title }}</a>
      </h2>
      <div class="postmetatop">
      </div>
      <!-- /postmetatop -->
    </div><!-- /posttop -->

    <div class="postcontent">
      <p>邓海平, 湖南人, 80后工作IT技术.</br>
      熟练使用常见的计算机语言.</br>
      目前从事Java, Search开发相关工作.</p>

      <p>个人邮箱:denghp@126.com </br>
      github : [https://github.com/denghp]</p>
      <div class="cleared"></div>
    </div><!-- /postcontent -->

    <div class="postmetabottom">
      <div class="tags"></div>
      <div class="cleared"></div>
    </div><!-- /postmetabottom -->
  </div><!-- /post -->


  {% include disqus.html %}
</div><!-- /content -->
{% include aside.html %}



