---
layout: default
title: Linux编程经验
---

{% include emergency_news.html %}

<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span8">
                <!-- start article -->
                <div id="content"></div>
                <div id="page-selection"></div>
                <!-- end article  -->

            </div>
            <div class="span4">
                {% include aside.html %}
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        initJsonData("{{site.baseurl}}/json/linux.json");
        getStartedInitialization(15);
    });

</script>